<div class="container">
	<divclass="row">
		<!-- <span> -->
			<div id="send_a_snap" class="col-xs-4">
				<h3 class="headings">Snap a Friend!</h3>
					<form action="/" method="POST">
						<select class="input" name="user_id">
							<% @all_users.each do |user| %>
								<option value="<%= user.id %>"><%= user.username%></option>
							<%end%>
						</select>
						<br>
						<input class="input" type="text" name="image_file" placeholder="Image URL">
						<br>
						<input class="input" type="text" name="caption" maxlength="26" placeholder="Caption">
						<br>
						<button type="submit" id="submit_pic" class="btn btn-default">Snap!</button> 
					</form>
			</div>
		<!-- </span> -->
		<!-- <span> -->
			<div id="snap_feed" class="col-xs-8">
				<h3 class="headings">Your Feed</h3>
				
				<div id="snap_feed_inner">
				<% @all_snaps.each do |snap| %>
						<div class="snap">
							<h5><%= snap.user.username %></h5>
							<img id="snap_pic" src="<%=snap.image_file%>"/>
							<p><%= snap.caption %></p>
						</div>
					<%end%>

				</div>
			</div>
		<!-- </span> -->
	</div>
</div>
